RewriteEngine On

# Base
RewriteBase /vite-gourmand/public/

# Ne pas toucher aux fichiers existants
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Sinon → router
RewriteRule ^ index.php [QSA,L]